POSTGRES_USER=user
POSTGRES_PASSWORD=password
REDIS_PASSWORD=redis_password
GROQ_API_KEY=your_api_key
AUTH_SECRET_KEY=secret_jwt_key_minimum_32_characters
WEBHOOK_SECRET_KEY=service_secret_key_32_chars